.criterion
{
    display: grid;
    grid-template-rows: 1fr 6fr;
    .criterion_container
    {
        display: grid;
        grid-template-rows: repeat(3,1fr);
        list-style-type: none;
        padding-left: 10%;
        li
        {
            margin-bottom: auto;
            margin-top:auto;
            .radio{
                margin-right:10px;
            }
        }
    }
}