@import './mixins.scss';
@import './variables.scss';
.header_pop_up_menu_list
    {
        display: grid;
        list-style-type:none;
        margin-left: 13%;
        @include objectSize(70%,80%);
        grid-template-rows: repeat(6,1fr);
        .menu_link
        {
            font-size: $fontSizeL;
            margin:auto;
        }
    }