@import './mixins.scss';
@import './extends.scss';
@import './variables.scss';
.adv_search
{
    display: grid;
    grid-template-rows: repeat(4,3fr) 1fr 1fr;
    font-size: $fontSizeL;
    @extend %border;
    padding: 5%;
    input{
        margin-top:50px;
    }
    .adv_search_button
    {
        margin: auto;
        @include objectSize(40%,40%);
    }
}