%border{
    border-style: solid;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-color: rgba(0,0,0,0.5);
    border-width: 1px;
}
%language{
    filter: invert(1);
    background-color:#13E8B2;
}
%button
{
    filter:invert(1);
    background-color:transparent;
    border-width: 0px;
}
%imgwidthHeight
{
    filter:invert(1);
    width: 30px;
    height: 30px;
}
%textSize
{
    text-align: center;        
    font-size:25px; 
}