@import './mixins.scss';
@import './extends.scss';
@import './variables.scss';
.header_center_menu_submenu
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        .signIn{
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
              "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
              sans-serif;
              
            color:white;
            text-decoration: none;
            font-size: 25px;
            margin: auto;
        }
        .header_img
        {
            @include objectSize($imgSize,$imgSize);
            margin: auto;
        } 
    }