@import './extends.scss';
@import './variables.scss';
.languages{
    width: 70%;
    font-size:$fontSizeL;
    display: grid;
    margin: auto;
    margin-top: 20px;
    grid-template-columns: repeat(3,1fr);
    .header_pop_up_menu_uk{
        @extend %language;
    }
}